@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:after, *::before {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
}

i {
  font-family: "Font Awesome 5 Free";
}

.wrap {
  width: 1024px;
  margin: 0 auto;
  position: relative;
}
.wrap .header {
  width: 100%;
  height: 380px;
  background: url(./asset/Hero.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrap .header .headerTitle {
  margin-bottom: 10vh;
  color: #fff;
  font-size: 36px;
}
.wrap .header .dropbox {
  position: relative;
}
.wrap .header .dropbox svg {
  position: absolute;
  font-size: 36px;
  right: 10px;
  bottom: 10px;
  pointer-events: none;
  transition: all 0.5s;
}
.wrap .header .dropbox.active svg {
  transform: rotateX(180deg) translateY(-15px);
}
.wrap .header #locationPicker {
  width: 350px;
  height: 5vh;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  border: 2px solid white;
  cursor: pointer;
  transition: all 0.2s;
  -webkit-appearance: none;
          appearance: none;
  padding: 0px 24px;
  font-size: 18px;
  word-break: normal;
  position: relative;
  line-height: 2;
  text-align: center;
}
.wrap .header #locationPicker:hover {
  background: rgba(255, 255, 255, 0.8);
}
.wrap .header #locationPicker option[value=""] {
  display: none;
  background-image: url(./asset/icons_down.png);
}
.wrap .popularChoice {
  width: 78%;
  height: 120px;
  position: absolute;
  left: 112px;
  top: 350px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px grey;
}
.wrap .popularChoice .popularTitle {
  display: inline-block;
  padding: 1rem;
  font-size: 22px;
  color: #559AC8;
}
.wrap .popularChoice:after {
  content: "";
  border-bottom: 3px dashed #559AC8;
  width: 1024px;
  height: 5px;
  position: absolute;
  bottom: -50px;
  left: -112px;
}
.wrap .popularChoice .popularList {
  display: flex;
  justify-content: space-around;
}
.wrap .popularChoice .popularList .popularItem {
  border-radius: 5px;
  padding: 1rem 2rem;
  font-size: 20px;
  color: #3b3b3b;
  cursor: pointer;
  transition: all 0.5s;
  opacity: 0.7;
}
.wrap .popularChoice .popularList .popularItem:hover {
  opacity: 1;
  transform: scale(1.2);
}
.wrap .whiteSpaceReserve {
  width: 100%;
  height: 10rem;
}
.wrap .content {
  padding: 1.5rem 0;
}
.wrap .content .travelData {
  transform: translateY(0);
  opacity: 1;
  transition: all 0.7s;
}
.wrap .content .cardOut {
  transform: translateY(-50px);
  opacity: 0;
}
.wrap .content .travelTitle {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  padding-bottom: 3rem;
}
.wrap .content .travelPoints {
  display: inline-block;
  width: 47%;
  margin: 1.2%;
  box-shadow: 0 0 5px grey;
  position: relative;
  cursor: pointer;
  transition: all 0.5s;
}
.wrap .content .travelPoints .card-body {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  transition: all 0.5s;
}
.wrap .content .travelPoints .card-body .fa-map-marker-alt {
  font-size: 21px;
  color: #f5a623;
}
.wrap .content .travelPoints .card-body .fa-mobile-alt {
  font-size: 21px;
  margin-left: 2px;
  color: #559ac8;
}
.wrap .content .travelPoints .card-body .fa-tag {
  color: #f5d005;
  margin-right: 10px;
}
.wrap .content .travelPoints .card-body .fa-clock {
  color: #8a81ca;
}
.wrap .content .travelPoints .card-body span {
  padding: 0.5rem 5px;
}
.wrap .content .travelPoints .card-body .point_tag {
  position: absolute;
  right: 5rem;
  bottom: 10px;
}
.wrap .content .travelPoints .point_img {
  height: 320px;
  object-fit: fill;
}
.wrap .content .travelPoints .point_description {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: all 0.5s;
  color: #fff;
  font-size: 20px;
  padding: 2rem 2rem;
  line-height: 1.5;
}
.wrap .content .travelPoints.active .point_img,
.wrap .content .travelPoints.active .point_tag,
.wrap .content .travelPoints.active .point_openingTime,
.wrap .content .travelPoints.active .point_address,
.wrap .content .travelPoints.active .point_contact {
  opacity: 0;
}
.wrap .content .travelPoints.active .point_description {
  opacity: 1;
}
.wrap .footer {
  width: 100%;
  height: 90px;
  background: #559AC8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrap .footer div {
  padding: 5px;
  font-size: 18px;
}

.card-body-flex {
  display: flex;
  align-items: center;
}

.paginationDiv {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.page-link {
  transition: all 0.5s;
}

.page-item.active .page-link {
  background-color: grey;
}
/*# sourceMappingURL=style.css.map */